.git
.gitignore
.gitlab-ci.yml
.idea
.vscode

**/.env
**/.env.*
!**/.env.example

**/target
**/build
**/.gradle
**/.mvn/wrapper/maven-wrapper.jar

mobile-app/node_modules
mobile-app/.expo
mobile-app/dist
mobile-app/coverage

admin-web/node_modules
admin-web/dist
admin-web/coverage

backend/uploads
backend/**/uploads

*.log
*.tmp
